@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

$main-color: black;
$high-color: red;
$mid-color: orange;
$light-color: beige;


html { 
  background: url('/img/food_buffet_rumman-amin-nKs-oXRGGEg-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  //thanks https://unsplash.com/@rumanamin for picture
}
  


body {
  background-color: rgba($main-color, 0.85);
  color: white;
  margin: 0;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

main {
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  text-align: center;
}

@media screen and (max-width: 600px) {
  header {
    img {
      height: 200px;
      width: auto;
    }
  }
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 15px;
  max-width: 500px;
  display: none;
}

div {
  color:$main-color;
  p {
    color: white;
  }
}

.result {
  display: none;
}

button {
  background-color: $mid-color;
  color: white;
  box-shadow: 0 0 3px 1px $mid-color;
  border: 0;
  border-radius: 5px;
  width: 150px;
  height: 22px;
  margin-top: 10px;
  padding-bottom: 25px;
}

form {
  p {
    padding-top: 10px;
  }

  input[name="distance"] {
    accent-color: $high-color;
  }
}

#showRating {
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: $high-color;
  box-shadow: 0 0 3px 1px $high-color;
}

#resultInfo {
  margin-top: 20px;
  font-size: 2rem;
}

// Rating slider styling
input[type="range"] {
  -webkit-appearance: none;
  width: 150px;
  height: 5px;
  border-radius: 5px;  
  background: $light-color;
  outline: none;
  margin-left: 45px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: $high-color;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $high-color;
  cursor: pointer;
}